body {
    display: flex;
    justify-content: center;
}


.button-70 {
  position: fixed;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(#0dccea, #0d70ea);
  border: 0;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, .3) 0 5px 15px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-family: Montserrat,sans-serif;
  font-size: .9em;
  margin: 5px;
  padding: 10px 15px;
  text-align: center;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Press Start 2P', sans-serif;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  overflow: hidden;
  background: #dcd9cd;
}

/* Estilos generales para dispositivos pequeños */
body {
    background-color: black;
    font-family: 'Open Sans', sans-serif;
   }
   
   /* Estilos para dispositivos medianos */
   @media screen and (min-width: 768px) {
    body {
       font-size: 16px;
    }
    ul li {
        size: 1.5em;
    }
   }
   
   /* Estilos para dispositivos grandes */
   @media screen and (min-width: 992px) {
    body {
       font-size: 18px;
    }
   }
   
   /* Estilos para dispositivos extra grandes */
   @media screen and (min-width: 1200px) {
    body {
       font-size: 20px;
    }
   }
   @media screen and (min-width: 480px) {
    body {
      background-color: black;
    }
    #nav-item{
      display:block;
      width: 100%;
    }
  }
  
  
  .main-section{
    display: block;
    justify-content: center;
    float:left;
    radius:20px;
    padding:20px;
    margin-bottom: 10px;
  }
  

  
  main{
    display:block;
  }
  
  section{
    display:block;
    margin:20px;
  }
  #main-doc{
    position:static;
  }
  
  .container{
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  
  ul{
      padding: 10px 30px;
  }
  
  header{
    margin-top: 50px;
    margin-bottom: 20px;
  }
  #navbar{
    height:auto;
    position:fixed;
    top:0px;
    left:0px;
    z-index:2;
    margin: auto;
  }
  ul{
    display:flex;
    width:100%;
    justify-content:space-around;
    list-style:none;
    margin-top:25px;
  }
  p, header, h4{
    color: #F6EB14;
   }
   p{
    margin: 20px;
   }
   img {
    width: 100%;
    height: 100%;
}