body {
    display: flex;
    justify-content: center;
}


.button-70 {
  background-image: linear-gradient(#0dccea, #0d70ea);
  border: 0;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, .3) 0 5px 15px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-family: Montserrat,sans-serif;
  font-size: .9em;
  margin: 5px;
  padding: 10px 15px;
  text-align: center;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}
a {
    color: white;
}
@import url("https://fonts.googleapis.com/css2?family=Zilla+Slab:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Cairo', sans-serif;}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  overflow: hidden;
  background: #dcd9cd;
}
ul {
  position: relative;
}
ul li {
  list-style: none;
  text-align: center;
}
ul li a {
  color: #333;
  text-decoration: none;
  font-size: 3em;
  padding: 5px 20px;
  display: inline-flex;
  font-weight: 700;
  transition: 0.5s;
}
ul:hover li a {
  color: #0002;
}
ul li:hover a {
  color: #000;
  background: transparent;
}
ul li a:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 40%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 5em;
  color: rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  z-index: -1;
  opacity: 0;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 500px;
  transition: letter-spacing 0.5s, left 0.5s;
}
ul li a:hover:before {
  content: attr(data-text);
  opacity: 1;
  left: 50%;
  letter-spacing: 10px;
  width: 1800px;
  height: 1800px;
}
ul li:nth-child(6n + 1) a:before {
  background: #0470fe;
}
ul li:nth-child(6n + 2) a:before {
  background: #ff7675;
}
ul li:nth-child(6n + 3) a:before {
  background: #1582fe;
}
ul li:nth-child(6n + 4) a:before {
  background: #a29bfe;
}
ul li:nth-child(6n + 5) a:before {
  background: #fd79a8;
}
ul li:nth-child(6n + 6) a:before {
  background: #ffeaa7;
}

/* Estilos generales para dispositivos pequeños */
body {
    background-color: #f8f9fa;
    font-family: 'Open Sans', sans-serif;
   }
   
   /* Estilos para dispositivos medianos */
   @media screen and (min-width: 768px) {
    body {
       font-size: 16px;
    }
    ul li {
        size: 1.5em;
    }
   }
   
   /* Estilos para dispositivos grandes */
   @media screen and (min-width: 992px) {
    body {
       font-size: 18px;
    }
   }
   
   /* Estilos para dispositivos extra grandes */
   @media screen and (min-width: 1200px) {
    body {
       font-size: 20px;
    }
   }
   @media screen and (min-width: 480px) {
    body {
      background-color: #b5cdd6;
    }
  }
  
  
  .main-section{
    float:left;
    radius:20px;
    margin-left:310px;
    padding:20px;
    margin-bottom: 110px;
    border-bottom: 1px solid;
  }
  
  nav{
    display:block;
  }
  
  main{
    display:block;
  }
  
  section{
    display:block;
    width: max-content;
    margin:20px;
  }
  #main-doc{
    position:static;
  }
  
  .container{
    width:100%;
    display: grid;
    grid-template-columns:1fr 1fr 1fr;
    grid-template-rows:1fr 1fr 1fr;
    grid-gap:10px;
    grid-template-areas:
    "#navbar #navbar #navbar"
    "main-section main-section main-section"
    "main-section main-section main-section";
  }
  
  
  ul{
      padding: 10px 30px;
      border-top: 1px solid;
      border-color:#6a8b96;
  }
  
  header{
    font-size:3vw;
  }