<div class="container">
<ol>
    <li><a href="/exp1" data-text="Experimento 1" class="arrow"><i class="fas fa-arrow-alt-right"></i>Experimento 1</a></li>
    <li><a href="/exp2" data-text="Experimento 2" class="arrow"><i class="fas fa-arrow-alt-right"></i>Experimento 2</a></li>
    <li><a href="/exp3" data-text="Experimento 3" class="arrow"><i class="fas fa-arrow-alt-right"></i>Experimento 3</a></li>
    <li><a href="/pdi" data-text="Páginas de interés" class="arrow"><i class="fas fa-arrow-alt-right"></i>Páginas de interés</a></li>
</ol>
</div>
