<section class="navbar" id="navbar">
    <ul class="nav nav-pills">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false">Dropdown</a>
                        <div class="dropdown-menu">
      <a class="dropdown-item" href="/exp3/#main">Información general</a>
      <a class="dropdown-item" href="/exp3/#disexp">Diseño experimental</a>
      <div class="dropdown-divider"></div>
      <a class="dropdown-item" href="/exp3/#tabla">Resultados</a>
    </div>
        </li>
    </ul>
    </section>
<main id="main-doc">
<div class="container">
    <div>
        <section id="main" class="main-section">
    <header>Estudio de normalización de plausibilidad temporal</header>
    <h4>(simultáneo vs secuencial)</h4>
<p>El último estudio normativo tuvo como cometido identificar los verbos cuya simulación mental no suponía una incoherencia a nivel de simultaneidad de ejecución por parte de los efectores involucrados. En este estudio se normalizó la plausibilidad de ejecución simultánea de 95 verbos, 50 de los cuales fueron juzgados como plausibles de ejecución simultánea, mientras 45 fueron juzgados como implausibles. 
</p>
<p>En esta ocasión participaron <u>21 sujetos (M =23,6 SD = , H =10 , M =10 , diestros = 18, zurdos = 2</u>; 18 estudiantes de grado y 3 con secundaria terminada como máximo), de los cuales se tuvieron en cuenta 20 casos. 
</p>
</section>
</div>
<div>
    <section id="disexp" class="main-section">
    <header>Diseño experimental:</header>
    <img id="imagen" src="assets/Ex3.png">
    </section>
</div>
<div>
    <section id="tabla" class="main-section">
    <header>Normalización de plausibilidad </header>
    <img id="imagen" src="assets/Tab3.png">
    </section>
</div>
</div>
</main>
<button class="button-70" role="button" onclick="window.location.href='/landing';">Volver</button>