<a href="/landing"><button class="button-70" role="button">Volver</button>
</a>
<div class="container">
    <h2>Estudio de normalización de plausibilidad temporal</h2>
    <h3>(simultáneo vs secuencial)</h3>
<p>El último estudio normativo tuvo como cometido identificar los verbos cuya simulación mental no suponía una incoherencia a nivel de simultaneidad de ejecución por parte de los efectores involucrados. En este estudio se normalizó la plausibilidad de ejecución simultánea de 95 verbos, 50 de los cuales fueron juzgados como plausibles de ejecución simultánea, mientras 45 fueron juzgados como implausibles. 
</p>
<p>En esta ocasión participaron 21 sujetos (M =23,6 SD = , H =10 , M =10 , diestros = 18, zurdos = 2; 18 estudiantes de grado y 3 con secundaria terminada como máximo), de los cuales se tuvieron en cuenta 20 casos. 
</p>
</div>
<div>
    <h3>Diseño experimental:</h3>
    <img src="assets/Ex3.png">
</div>
<div>
    <h4>Gráfica de preferencia de imaginabilidad</h4>
    <img src="assets/Gra2.png">
</div>