<a href="/landing"><button class="button-70" role="button">Volver</button>
</a>
<div class="container">
    <h2>Estudio de normalización de temporalidad interna de verbos</h2>
    <h3>(segundos, minutos y horas)</h3>
    <p>Normalización de la conceptualización o estimación de la duración de las acciones expresadas en verbos libres (no asociados a un objeto) y verbos de objeto. Este pre-experimento consistió en una discriminación temporal de la duración de los eventos expresados por los verbos, los cuales se presentaron en una pantalla de computadora de forma intermitente aleatoria, antecedida por un punto de fijación y precedida por una pantalla blanca.
    </p>
<p>En esta ocasión participaron 21 sujetos (M =23,6 SD = , H =10 , M =10 , diestros = 18, zurdos = 2; 18 estudiantes de grado y 3 con secundaria terminada como máximo), de los cuales se tuvieron en cuenta 20 casos. 
</p>
</div>
<div>
    <h3>Diseño experimental:</h3>
    <img src="assets/Ex1.png">
</div>
<div>
    <h4>Tabla de clasificación temporal</h4>
 <img src="assets/Tab1.png">
</div>