<section class="navbar" id="navbar">
    <ul class="nav nav-pills">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false">Navegación</a>
                        <div class="dropdown-menu">
      <a class="dropdown-item" href="/exp1/#main">Información general</a>
      <a class="dropdown-item" href="/exp1/#disexp">Diseño experimental</a>
      <div class="dropdown-divider"></div>
      <a class="dropdown-item" href="/exp1/#tabla">Resultados</a>
    </div>
        </li>
    </ul>
    </section>
<main id="main-doc">
<div class="container">
    <section id="main" class="main-section">
        <div>
    <header>Estudio de normalización de temporalidad interna de verbos</header>
    <h4>(segundos, minutos y horas)</h4>
    <p>Normalización de la conceptualización o estimación de la duración de las acciones expresadas en verbos libres (no asociados a un objeto) y verbos de objeto. Este pre-experimento consistió en una discriminación temporal de la duración de los eventos expresados por los verbos, los cuales se presentaron en una pantalla de computadora de forma intermitente aleatoria, antecedida por un punto de fijación y precedida por una pantalla blanca.
    </p>
<p>En esta ocasión participaron <u>21 sujetos (M =23,6 SD = , H =10 , M =10 , diestros = 18, zurdos = 2</u>; 18 estudiantes de grado y 3 con secundaria terminada como máximo), de los cuales se tuvieron en cuenta 20 casos. 
</p>
</div>
    </section>
<section id="disexp" class="main-section">
<div>
    <header>Diseño experimental:</header>
    <img id="imagen" src="assets/Ex1.png">
</div>
</section>
<section id="tabla" class="main-section">
    <div>
    <header>Tabla de clasificación temporal</header>
 <img id="imagen" src="assets/Tab1.png">
</div>
</section>
</div>
</main>
<button class="button-70" role="button" onclick="window.location.href='/landing';">Volver</button>

