<section class="navbar" id="navbar">
    <ul class="nav nav-pills">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false">Dropdown</a>
                        <div class="dropdown-menu">
      <a class="dropdown-item" href="/exp2/#main">Información general</a>
      <a class="dropdown-item" href="/exp2/#disexp">Diseño experimental</a>
      <div class="dropdown-divider"></div>
      <a class="dropdown-item" href="/exp2/#tabla">Resultados</a>
    </div>
        </li>
    </ul>
    </section>
<main id="main-doc">
<div class="container">
    <div>
    <section id="main" class="main-section">
    <header>Estudio de normalización de preferencia de modalidad representacional</header>
    <h4>(visual vs motora)</h4>
    <p>El cometido de este estudio fue, una vez más, la normalización de estímulos. En esta ocasión, el objetivo fue saber el grado de imaginabilidad con el que se simulan las acciones o eventos representados por los verbos. El experimento se realizó con el supuesto de que la primera persona indica un alto grado de imaginabilidad y la tercera persona un bajo grado de la misma. La predicción fue que habría un bajo sesgo por una alta imaginabilidad (elección de la primera persona) en la totalidad -o gran mayoría- de los verbo y que ese sesgo podría ser mayor para verbos concretos.
    </p>
    <p>Participaron <u>16 sujetos (M = 25.5, SD = 3.65, H = 10, M = 6, diestros = 13, zurdos = 2)</u>. Todos los participantes contaron con el liceo terminado. Dos participantes fueron removidos porque no comprendieron la tarea. En esta ocasión se usaron los <u>61 verbos normalizados de la primera normalización</u> de ítems.
    </p>
    </section>
</div>
<div>
    <section id="disexp" class="main-section">
    <header>Diseño experimental:</header>
    <img id="imagen" src="assets/Ex2.png">
    </section>
</div>
<div>
    <section id="tabla" class="main-section">
    <header>Gráfica de preferencia de imaginabilidad</header>
    <img id="imagen" src="assets/Gra2.png">
    </section>
</div>
</div>
</main>
<button class="button-70" role="button" onclick="window.location.href='/landing';">Volver</button>
